@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wdth,wght@125,100..800&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
     font-family: "Anek Bangla", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
@theme {
    --color-primary: #5044E5;
}